
:root {
    --color-1: #283590;
    --color-2: #F7DE03; 
    --color-3: #D92632;
    --color-4: #69C5EC;
    --color-5: #7AC143;
    --color-6: #FDB733;
    --color-7: #00B098;
    --color-8: #FFD600;
    --color-9: #BEC12D;
    --color-10: #485DAA;
    --color-11: #F57E27;
    --color-12: #00AEEF;
    --color-13: #F5F4F0;
    
    /* --color-1: gold;  */
    /* --color-2: green;  */
    /* --color-3: green;  */
    /* --color-4: pink; */
    /* --color-5: red; */
    /* --color-7: red; */
    /* --color-8: gray; */
    /* --color-9: red; */
    /* --color-10: gray; */
    /* --color-11: blue; */

    /* --test-opacity: 0.5; */
    --graph-move: 0.5s;
    --headline-delay: 0.5s;
    --second-headline-delay: 4s;
    --graph-unit: 27px;

    --sans: "Roboto", Arial, Helvetica, sans-serif;
    --slab: "Roboto Slab", sans-serif;
}

.color-1 {
    color: var(--color-1) !important;
}
.color-2 {
    color: var(--color-2) !important;
}
.color-3 {
    color: var(--color-3) !important;
}
.color-4 {
    color: var(--color-4) !important;
}
.color-5 {
    color: var(--color-5) !important;
}
.color-6 {
    color: var(--color-6) !important;
}
.color-7 {
    color: var(--color-7) !important;
}
.color-8 {
    color: var(--color-8) !important;
}
.color-9 {
    color: var(--color-9) !important;
}
.color-10 {
    color: var(--color-10) !important;
}
.color-11 {
    color: var(--color-11) !important;
}
.color-12 {
    color: var(--color-12) !important;
}
.color-13 {
    color: var(--color-13) !important;
}


.bg-color-1 {
    background-color: var(--color-1) !important;
}
.bg-color-2 {
    background-color: var(--color-2) !important;
}
.bg-color-3 {
    background-color: var(--color-3) !important;
}
.bg-color-4 {
    background-color: var(--color-4) !important;
}
.bg-color-5 {
    background-color: var(--color-5) !important;
}
.bg-color-6 {
    background-color: var(--color-6) !important;
}
.bg-color-7 {
    background-color: var(--color-7) !important;
}
.bg-color-8 {
    background-color: var(--color-8) !important;
}
.bg-color-9 {
    background-color: var(--color-9) !important;
}
.bg-color-10 {
    background-color: var(--color-10) !important;
}
.bg-color-11 {
    background-color: var(--color-11) !important;
}
.bg-color-12 {
    background-color: var(--color-12) !important;
}
.bg-color-13 {
    background-color: var(--color-13) !important;
}
.bg-white {
    background-color: white !important;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;  
    font-size: 36px;
    line-height: 27px;
    display: inline;
    text-transform: uppercase;

}

a {
    color: var(--color-1);
    
}
a:hover {
    color: var(--color-10);
    text-decoration: none;
}


header, .brains_holder, .endless-impacts, .perpetual-pride, .above-beyond, .ab-articles {
    width: 1024px;
    margin: 0 auto;
    opacity: var(--test-opacity);
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.reg {
    font-weight: 400;
}
.italic {
    font-style: italic;
}

.logo-area {
    width: 165px;
    padding-left: 103px;
}

.logo-area img {
    width: 165px;
}
.title-area {
    margin-right: 98px;
    width: 380px;
}

h1 {
    font-family: var(--slab);
    font-weight: 300;
    font-size: 30px;
    line-height: 1.8em;
}

p, li {
    font-family: var(--sans);
    font-weight: 300;
    font-size: 15px;
}

.language {
    font-family: Roboto;
    font-weight: 800;
    font-size: 13.5px;
    text-align: right;
    line-height: 1em;
}

.language a {
    font-weight: 400;
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brains_holder {
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--color-1);
    height: 680px;
    overflow: hidden;
}

.brain_holder, .brain_1 {
    position: relative;
    top: -3px;
    right: 0;
    margin-right: 65px;
}


.brain_holder {
    opacity: 0;
    animation-name: fade_in;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}
.brain_5 {
    animation-delay: 0.5s;
}
.brain_7 {
    animation-delay: 1s;
}
.brain_8 {
    animation-delay: 1.5s;
}
.brain_1 {
    animation-delay: 2s;
}
.brain_2 {
    animation-delay: 2.5s;
}
.brain_3 {
    animation-delay: 3s;
}
.brain_4 {
    animation-delay: 3.5s;
}

.brain_holder {
    position: absolute;
}

.brain_holder {
    width: 670px;
}

@keyframes slide_in {
    0% {left: -600px;}
    100% {left: 0;}
}

.headline {
    top: 0;
    left:0;
    position: relative;
    text-transform: uppercase;
    display: block !important;
}

.hl-animated {
    position: absolute;
}

.headline h2 span {
    position: relative;
    display: block;
    height:25px;
    overflow: visible;
    margin: 0;
    width: fit-content;
    padding: 0;

}

.hl-animated h2 span {
    left: -500px;
    padding: 0 4px 0 100px;
    animation-name: slide_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hl-white {
    color: white;
    overflow: hidden;
}


.headline-1 {
    animation-delay: var(--headline-delay);
}
.headline-2 {
    animation-delay: calc(var(--headline-delay) + 0.1s);
}
.headline-3 {
    animation-delay: calc(var(--headline-delay) + 0.2s);
}
.headline-4 {
    animation-delay: calc(var(--headline-delay) + 0.3s);
}
.headline-5 {
    animation-delay: calc(var(--headline-delay) + 0.4s);
}
.headline-6 {
    animation-delay: calc(var(--headline-delay) + var(--second-headline-delay));
}
.headline-7 {
    animation-delay: calc(var(--headline-delay) + var(--second-headline-delay) + 0.1s);
}
.headline-8 {
    animation-delay: calc(var(--headline-delay) + var(--second-headline-delay) + 0.2s);
}



/* @keyframes slide_up {
    0% {bottom:-200px;}
    20% {bottom:0;}
    80% {bottom:0;}
    100% {bottom:-160px;}
} */



.info_box {
    margin-left: 46px;
    background-color: white;
    padding: 30px 6px 20px 55px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 325px;
    animation-name: slide_up;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: 16s;
    transition: 1s;

}

.info_box:hover {
    bottom: 0;
}

.info_box p, h3 {
    font-family: var(--sans);
    font-size: 18px;
    margin-top: 0;
    padding-top: 0;
    line-height: 1.1em;
    color: black;
}

.info_box h3 {
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    margin-bottom: 17px;
    padding-bottom: 0;
    font-weight: 300;

}


.infinite-pathways {
    width:1024px;
    background-color: var(--color-2);
    opacity: var(--test-opacity);
    margin: 71px auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 93px;
}



.infinite-pathways .ip-content {
    margin: 55px 305px 20px 100px;

}

.first-par {
    margin-top: 51px;
}


.infinite-pathways .white-box {
    position:absolute;
    right: 0;
    top:0;
    background-color: white;
    width: 290px;
    height: 140px;

}

@keyframes fade_in {
    0% {opacity: 0;}
    20% {opacity: 0.5;}
    40% {opacity: 0.25;}
    60% {opacity: 0.75}
    80% {opacity: 0.5}
    100% {opacity: 1;}
}

.endless-impacts {
    position: relative;
    opacity: var(--test-opacity);
    height: 980px;
    margin-bottom: 57px;

}


.endless-impacts h3, .perpetual-pride h3, .above-beyond h3 {
    font-size: 0.92em;
    margin-top: 4px;
    margin-bottom: 0;
    padding-bottom: 0
}

.endless-impacts .date {
    font-size: 0.69em;
    font-weight: 600;
    margin-top: 8px;
}

.endless-impacts .yellow-box {
    background-color: var(--color-2);
    width: 210px;
    height:74px;
    position: absolute;
    top: -72px;
    left: 382px;
    opacity: var(--test-opacity);
}

.endless-impacts .ei-content, .perpetual-pride .pp-content {
    margin: 52px 100px;
}
.endless-impacts .ei-content ul {
    list-style-type: none;
}

.endless-impacts .ei-content li {
    font-weight: 400;
    font-size: 1.1em;
}
.endless-impacts .ei-content .number {
    font-size: 1.37em;
    font-weight: bold;
    display: block;

}


.endless-impacts .ei-content .footnote {
    font-size: .6em;
    font-weight: 600;
}

.endless-impacts .ei-content .impact{
    display: block;
    position: absolute;
    padding: 15px;

}
.endless-impacts .ei-content .impact-39-2 {
    background-color: var(--color-3);
    color: white;
    top: 72px;
    left: 382px;
    width: 230px;
    height: 91px;
    padding-top: 83px;
    /* padding-bottom: 58px;     */
}

.endless-impacts .ei-content .impact-2438 {
    background-color: var(--color-5);
    top: 283px;
    left: 100px;
    width: 242px;
    height: 171px;
    padding: 20px 20px 0;
}
.endless-impacts .ei-content .impact-383 {
    background-color: var(--color-6);
    top: 261px;
    left: 382px;
    width: 230px;
    height: 112px;
    padding-top: 18px;
    /* padding-bottom: 38px; */
}
.endless-impacts .ei-content .impact-382 {
    background-color: var(--color-4);
    top: 213px;
    right: 100px;
    width: 231px;
    height: 101px;
    padding-top: 26px;
    padding-left: 36px;
}
.endless-impacts .ei-content .impact-183 {
    background-color: var(--color-7);
    top: 354px;
    right: 100px;
    width: 158px;
    height: 94px;
    padding-top: 11px;
    /* padding-bottom: 41px; */
}
.endless-impacts .ei-content .impact-16 {
    background-color: var(--color-8);
    top: 474px;
    left: 170px;
    width: 258px;
    height: 130px;
    padding: 11px 78px 0 19px;


}
.endless-impacts .ei-content .impact-25 {
    background-color: var(--color-1);
    top: 474px;
    left: 525px;
    width: 154px;
    height: 129px;
    padding: 12px 12px 0 22px;
    color: white;
}
.endless-impacts .ei-content .impact-54 {
    background-color: var(--color-2);
    top: 474px;
    left: 736px;
    width: 95px;
    height: 150px;
    padding: 14px 12px 0 11px;
}

.endless-impacts .ei-content .impact-66602 {
    background-color: var(--color-9);
    top: 638px;
    left: 170px;
    width: 155px;
    height: 128px;
    padding: 14px 20px 0 17px;
}

.endless-impacts .ei-content .impact-86 {
    background-color: var(--color-4);
    top: 615px;
    left: 382px;
    width: 230px;
    height: 151px;
    padding: 14px 12px 0 19px;
}
.endless-impacts .ei-content .impact-10 {
    background-color: var(--color-3);
    top: 638px;
    left: 666px;
    width: 185px;
    height: 104px;
    padding: 14px 59px 0 16px;
    color: white;
}

.endless-impacts .ei-content .impact-34 {
    background-color: var(--color-10);
    top: 780px;
    left: 100px;
    width: 245px;
    height: 101px;
    padding: 16px 59px 0 27px;
    color: white;
}
.endless-impacts .ei-content .impact-110 {
    background-color: var(--color-5);
    top: 780px;
    left: 431px;
    width: 105px;
    height: 176px;
    padding: 12px 20px 0 16px;
}
.endless-impacts .ei-content .impact-22 {
    background-color: var(--color-1);
    top: 756px;
    left: 642px;
    width: 95px;
    height: 86px;
    padding: 14px 59px 0 38px;
    color: white;
}



.endless-impacts .ei-content .ei-box39-2 {
    background-color: white;
    position: absolute;
    top: 72px;
    left: 382px;
    width: 213px;
    height: 72px;

}
.endless-impacts .ei-content .ei-box383 {
    background-color: var(--color-3);
    position: absolute;
    top: 261px;
    left: 594px;
    width: 48px;
    height: 24px;

}

.endless-impacts .ei-content .ei-box2438 {
    background-color: var(--color-11);
    position: absolute;
    top: 283px;
    left: 347px;
    width: 35px;
    height: 72px;

}

.endless-impacts .ei-content .ei-box2438-a {
    background-color: var(--color-8);
    position: absolute;
    top: 450px;
    left: 170px;
    width: 189px;
    height: 24px;
    opacity: .5;

}

.endless-impacts .ei-content .ei-box382 {
    background-color: white;
    position: absolute;
    top: 285px;
    left: 642px;
    width: 24px;
    height: 72px;

}

.endless-impacts .ei-content .ei-box183 {
    background-color: var(--color-12);
    position: absolute;
    top: 354px;
    right: 100px;
    width: 45px;
    height: 46px;
    opacity: .6;

}

.endless-impacts .ei-content .ei-box16 {
    background-color: var(--color-10);
    /* background-color: red; */
    position: absolute;
    top: 474px;
    right: 499px;
    width: 23px;
    height: 92px;

}


.endless-impacts .ei-content .ei-box25 {
    background-color: white;
    position: absolute;
    top: 567px;
    left: 573px;
    width: 150px;
    height: 48px;

}
.endless-impacts .ei-content .ei-box66602 {
    background-color: var(--color-10);
    position: absolute;
    top: 757px;
    left: 311px;
    width: 51px;
    height: 23px;

}
.endless-impacts .ei-content .ei-box86 {
    background-color: var(--color-12);
    position: absolute;
    top: 735px;
    left: 540px;
    width: 102px;
    height: 45px;

}
.endless-impacts .ei-content .ei-box34 {
    background-color: var(--color-1);
    position: absolute;
    top: 897px;
    left: 100px;
    width: 354px;
    height: 23px;

}



.pp-content {
    outline: #00B098 2px soild;
}

.pp-content .pp-column-holder {
    display: flex;
    justify-content: space-between;
}
.pp-content .pp-column-holder .pp-column, .pp-column-extended {
    width: 400px;
    margin-top: 42px;
}

.pp-column {
    height: 400px;
}

.pp-column-extended {
    height: auto !important;
    align-self: flex-start; 
}


.pp-chair {
    background-color: var(--color-2);
}
.pp-hidden {
    height: 265px !important;
    overflow: hidden;
}
.pp-hidden-ceo {
    height: 165px !important;
    overflow: hidden;
}
.pp-show {
    height: min-content !important;
    position: relative;
    overflow: visible;

}
.pp-hidden .callout, .pp-hidden-ceo .callout {
    color: black !important;
    border-bottom: none !important;
    margin: 0 0 15px 0 !important;
    padding: 0 !important;
}
.pp-margin {
    margin-bottom: 120px;
}
.pp-padding {
    padding-bottom: 293px !important;
}

.pp-end {
    margin-top: 90px !important;
}

.chair-pic {
    position: static;
    bottom:-150px;
    width: 190px !important;
    right: -18px;
}

:root {
    --pic-padding: 139px;
}

.ceo-pic {
    position: static;
    bottom: calc(-230px - var(--pic-padding));
    width: 190px !important;
    right: -18px;
    border-bottom: white solid var(--pic-padding);
}

.pp-pic-pos {
    position: absolute;
}



.pp-ceo {
    background-color: var(--color-6);
}

.pp-square {
    background-color: white;
    /* top: 0;
    right: 0; */
}

.pp-chair .pp-square {
    height: 23px;
    width: 140px;
}

.pp-ceo .pp-square {
    height: 46px;
    width: 46px;
}

h4 {
    font-family: "Roboto Slab", 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: .95em;
}

h5 {
    font-family: var(--sans);
    font-weight: 700;
    font-size: 1.1em;
    line-height: .2em;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.pp-title {
    margin-left: 20px;
}



.pp-column-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pp-column-content {
    margin: 0 18px 0 20px
}

.pp-intro {
    font-size: 1.1em;
    line-height: 1.2em;
}

.pp-column-content p {
    font-family: var(--sans);
    font-weight: 300;
    line-height: 1.2em;
    margin-top: 0;
    padding-top: 0;
}

.pp-column-content button {
    font-family: "Roboto Slab", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    font-size: .95em;
    display: block;
    margin: 30px 0 0 0;
    padding: 0;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
}

/****** ABOVE AND BEYOND *******/
.above-beyond {
    background-color: var(--color-13);
    margin-top: 17px;
    overflow: hidden;
}

.above-beyond h4 {
    margin: 0 0 0 100px;
    padding-bottom: 0;
}

.ab-border-1 {
    border-bottom: 350px solid white;
}
.ab-border-2 {
    height: 135px; 
    border-bottom: 118px solid white;

}
.above-beyond .ab-header {
    display: flex;
    justify-content: space-between !important;
    margin: 0;
    padding: 0 100px;
    background-color: var(--color-13);
}

.above-beyond .ab-header .ab-intro {
    width: 578px;
    margin-top: 51px;
    margin-right: 22px;
}

.above-beyond .ab-header .ab-stats-box {
    width: 342px;
    padding: 20px 28px 41px 20px;
    background-color: var(--color-1);
    color: white;
}
.above-beyond .ab-header .ab-stats-box h4, .above-beyond .ab-header .ab-stats-box h5 {
    color: var(--color-2);
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 24px;
    font-family: var(--sans);
    font-size: .93em;
}
.above-beyond .ab-header .ab-stats-box h5 {
    margin-top: 8px;
    padding-top: 0;
    font-weight: 300;
    margin-bottom: 21px;
}
.above-beyond h4{
    font-family: var(--sans);
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 2px;
    padding-bottom: 0;

}
.above-beyond p {
    margin-top: 0;
    padding-top: 0;
}
.ab-stats-box p {
    font-family: var(--sans) !important; 
    border-bottom: 1px solid white;
    padding: 8px 0;
    margin: 0;
    display: flex;
}
.ab-number {
    display: inline-block;
    min-width: 35px;
}
.ab-tall-num {
    height: 30px;
}

.ab-stats-text {
    display: inline-block;
}

.ab-footnote {
    font-size: .7em;
    border-bottom: none !important;
    margin-top: 8px !important;
}
.ab-articles {
    display: flex;
    justify-content: space-between;
}

.ab-article-column {
    width: 400px;
    background-color: var(--color-13);
    padding-bottom: 30px;
}

.ab-article-column img {
    width: 100%;
}
.ab-left {
    padding-left: 100px;
    overflow: hidden;

}


.ab-right {
    padding-left: 24px;
    padding-right: 100px;
}

.callout {
    color: var(--color-1);
    font-size: 1.56em !important;
    line-height: 1.13em;
    font-weight: 400 !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}
.ab-names {
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ab-small-margin {
    margin-top: 20px !important; 
}

.xsmall-margin {
    margin-top: 15px !important;
    padding-top: 0 !important;
}
.ab-spacer {
    height:100px;
    display: flex;
}
.ab-bottom {
    height:100px;
}
.ab-width {
    width:512px;
    height: 80px;

}


.elev-phil {
    width: 824px;
    padding: 20px 100px !important;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.elev-phil  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.ep-column {
    width: 400px;
}

.ep-column h4 {
    font-family: var(--sans);
    margin-top: 75px !important;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 700;
}

.ep-column p {
    margin-top: 0;
    padding-top: 0;
}

.ep-column h5 {
    font-size: .9em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 45px !important;
}

.financials {
    width: 824px;
    padding: 0 100px 70px;
    margin: 20px auto 0;
    background-color: var(--color-13);
    background-image: url(../img/paper_brain.png);
    background-repeat: no-repeat;
    background-size: 520px;
    background-position: 395px 300px;
    display: flex;
    justify-content: space-between;

}

.financials h3 {
    padding-bottom: 50px;
}

.fi-column {
    width: 400px;
    margin: 60px 0 30px;
}

.fi-white-box {
    width: calc(var(--graph-unit)*10);
    height: calc(var(--graph-unit)*10);
    background-color: white;
    margin-bottom: 84px;
}

.fi-right {
    margin-top: 0 !important;
}

.fi-graph {
    position: relative;
    overflow: hidden;
    width: calc(var(--graph-unit) * 10);
    height: calc(var(--graph-unit) * 10);;

}

@keyframes graph_slide_in {
    0% {left: calc(var(--graph-unit) * -10)}
    100% {left: 0;}
}
@keyframes graph_slide_in-2 {
    0% {right: calc(var(--graph-unit) * -10);}
    100% {right: 0;}
}

.row {
    position: absolute;
    height: var(--graph-unit);
    animation-play-state: paused;
    animation-duration: var(--graph-move);
    animation-fill-mode: forwards;
}
.row-1 {
    left: calc(var(--graph-unit) * -10);
    animation-name: graph_slide_in;
 }
 .row-2 {
    right: calc(var(--graph-unit) * -10);
    animation-name: graph_slide_in-2;
 }
 .start-animation {
    animation-play-state: initial !important;
 }

.fig-1 {
    top: 0;
    animation-delay: calc(var(--graph-move) * 2);
}
.fig-2 {
    top: calc(var(--graph-unit));
    animation-delay: calc(var(--graph-move) * 2.5);
}
.fig-3 {
    top: calc(var(--graph-unit) * 2);
    animation-delay: calc(var(--graph-move) * 3);
}
.fig-4 {
    top: calc(var(--graph-unit) * 3);
    animation-delay: calc(var(--graph-move) * 3.5);
}
.fig-5 {
    top: calc(var(--graph-unit) * 4);
    animation-delay: calc(var(--graph-move) * 4);
}
.fig-6 {
    top: calc(var(--graph-unit) * 5);
    animation-delay: calc(var(--graph-move) * 4.5);
}
.fig-7 {
    top: calc(var(--graph-unit) * 6);
    animation-delay: calc(var(--graph-move) * 5);
}
.fig-8 {
    top: calc(var(--graph-unit) * 7);
    animation-delay: calc(var(--graph-move) * 6.5);
}
.fig-9 {
    top: calc(var(--graph-unit) * 8);
    animation-delay: calc(var(--graph-move) * 7);
}
.fig-9a {
    top: calc(var(--graph-unit) * 8);
    animation-delay: calc(var(--graph-move) * 7.5);
}
.fig-10 {
    top: calc(var(--graph-unit) * 9);
    animation-delay: calc(var(--graph-move) * 7.7);
}

.fig-10a {
    top: calc(var(--graph-unit) * 9);
    animation-delay: calc(var(--graph-move) * 8.2);
}

.fig-13 {
    top: 0;
    animation-delay: calc(var(--graph-move) * 9.5);
}
.fig-14 {
    top: calc(var(--graph-unit));
    animation-delay: calc(var(--graph-move) * 10);
}
.fig-15 {
    top: calc(var(--graph-unit) * 2);
    animation-delay: calc(var(--graph-move) * 10.5);
}
.fig-16 {
    top: calc(var(--graph-unit) * 3);
    animation-delay: calc(var(--graph-move) * 11);
}
.fig-17 {
    top: calc(var(--graph-unit) * 4);
    animation-delay: calc(var(--graph-move) * 11.5);
}
.fig-18 {
    top: calc(var(--graph-unit) * 5);
    animation-delay: calc(var(--graph-move) * 12);
}
.fig-19 {
    top: calc(var(--graph-unit) * 6);
    animation-delay: calc(var(--graph-move) * 12.2);
}
.fig-19a {
    top: calc(var(--graph-unit) * 6);
    animation-delay: calc(var(--graph-move) * 13);
}
.fig-20 {
    top: calc(var(--graph-unit) * 7);
    animation-delay: calc(var(--graph-move) * 13.5);
}
.fig-21 {
    top: calc(var(--graph-unit) * 8);
    animation-delay: calc(var(--graph-move) * 14);
}
.fig-21a {
    top: calc(var(--graph-unit) * 8);
    animation-delay: calc(var(--graph-move) * 14.2);
}
.fig-22 {
    top: calc(var(--graph-unit) * 9);
    animation-delay: calc(var(--graph-move) * 14.7);
}



.two {
    width: calc(var(--graph-unit) * 2);
}

.three {
    width: calc(var(--graph-unit) * 3);
}

.four {
    width: calc(var(--graph-unit) * 4);
}

.six {
    width: calc(var(--graph-unit) * 6);
}

.seven {
    width: calc(var(--graph-unit) * 7);
}
.eight {
    width: calc(var(--graph-unit) * 8);
}
.ten {
    width: calc(var(--graph-unit) * 10);
}


.financials h4 {
    font-family: var(--sans);
    font-weight: 500;
    text-align: center;
    margin: 20px 0 15px 0 !important;
    padding: 0;
}

.financials ul {
    list-style-type: square;
}
.financials li {
    font-size: 2em;
    line-height: .6rem;
}
.fi-legend-box {
    width: calc(var(--graph-unit)*10);
}
.left-legend {
    margin: 0 35px !important;
}
.right-legend {
    margin: 0 !important;
}
.legend {
    color: black;
    font-size: .75rem;
    position: relative; 
    top: -0.5em;
    left: -.8em;
    padding-left: 0px;
    margin-left: 0px;
}

@keyframes graph_fade_in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.legend-item {
    opacity: 0;
    animation-name: graph_fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.left-legend .color-5 {
    animation-delay: calc(var(--graph-move) * 2);
}
.left-legend .color-7 {
    animation-delay: calc(var(--graph-move) * 7.5);
}
.left-legend .color-2 {
    animation-delay: calc(var(--graph-move) * 8.2);
}
.right-legend .color-6 {
    animation-delay: calc(var(--graph-move) * 9.5);
}
.right-legend .color-1 {
    animation-delay: calc(var(--graph-move) * 13);
}
.right-legend .color-4 {
    animation-delay: calc(var(--graph-move) * 14.2);
}
.right-legend .color-13 {
    animation-delay: calc(var(--graph-move) * 16);
}


.legend-no  {
    display: inline-block;
    width: 25px;
    font-weight: 700;
}
.legend-desc {
    display: inline-block;
    width:133px !important;
}
.legend-amt {
    display: inline-block;
    width:65px;
    text-align: right;
}




footer {
    background-color: var(--color-1);
    color: white;
    width: 824px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto !important;
}


.footer-column {
    width: 400px;

}
.footer-column a {
    color: white;
}
.footer-column a:hover {
    color: var(--color-2);
    text-decoration: none;
}

.footer-left {
    margin-top: 60px;
}



.footer-box {
    background-color: var(--color-13);
    width: calc(var(--graph-unit)*10);
    height: 125px;
}
.social-logos {
    display: flex;
    width: 118px;
    justify-content: space-between;
}

.social-logos img {
    width: 24px;
}

.copyright {
    font-size: 0.6em;
    margin: 50px 0;
}
.para-1 {
    margin-top: 60px !important;
}
.learn-more {
    margin: 98px 0 0 70px;
}

.learn-more h3 {
    color: white;
    font-size: 1rem;
}
.footer-left img {
    margin-top: 8px;
}






/***** CAROUSEL ******/

.slider-wrapper {
     display: flex;
    width: 100%;
    flex: 0 0 auto;
    overflow: visible;
    padding: 35px 0 7px;
    margin-top: 35px;
    
}

.slider-nm {
    margin-top: 20px !important; 
    padding-top: 0 !important;
}
  
.items-holder {
    display: flex;
    flex: 0 0 auto;
    animation: moveSlideshow 30s linear infinite;
    padding-bottom: 10px;
}

.items-holder:hover {
    animation-play-state: paused;
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-70%);  
    }
}

.items {
    display: flex !important;
    align-items: top;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.item {
    text-align: left;
    padding: 0 10px 0 20px;
    border-right: solid 1px black;
    min-width: 230px !important;
    max-width: 230px !important;
    max-height: 120px;
}

.item p {
    padding-top: 0;
    margin-top: 0;
}
.item h3 {
    font-size: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}
